[Desktop Entry]
Type=Application
Exec=/usr/bin/chromium-browser  --incognito --noerrdialogs --disable-session-crashed-bubble --disable-infobars --disabled  --kiosk http://acilmakuzreolan.sayfa.com
hidden=false
X-GNOME-Autostart-enabled=true
Name[en_US]=AutoChromium
Name=AutoChromium
Comment=Acilista Chromeu otomatik acar
