#hdmi cec-client ile standby kontrol

#sabah 07:50 hdmi ac
#50 7 * * 1-5 rot  echo "pow 0" | /usr/bin/cec-client -s -d 1 >> /dev/null
#aksam 17:00 hdmi kapat
#15 20 * * 1-5 root echo "standby 0" | /usr/bin/cec-client -s -d 1 >> /dev/null
